$main: #01adef
$second: #0084b0
$bg: #01adef
$fsecondary: Rockwell
$webfont: 'ChunkFiveRegular', Rockwell
$white : #fff
$color_d: #000

@font-face
  font-family: 'ChunkFiveRegular'
  src: url('fonts/Chunkfive-webfont.eot')
  src: url('fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Chunkfive-webfont.woff') format('woff'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg')
  font-weight: normal
  font-style: normal

*
  margin: 0
  padding: 0
  font-weight: 300
  box-sizing: border-box
  font-family: $fsecondary
  color: #000

body
  background: url('bg-pattern.png')

a
  text-decoration: none
  color: #01adef

ul
  list-style-type: none

a.btn, input[type='submit']
  font-family: $fsecondary
  font-size: 18px
  cursor: pointer
  background-color: $main
  color: #fff
  border: none
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  padding: 11px 26px

input[type='text'], input[type='password']
  border: 2px solid $main
  padding: 10px

input[type='submit']
  display: inline-block
  width: auto

.btn:hover, input[type='submit']:hover
  background-image: -webkit-gradient(linear,left top,left bottom,from($main),to($second))
  background-image: -webkit-linear-gradient(top,$main,$second)
  background-image: -moz-linear-gradient(top,$main,$second)
  background-image: -ms-linear-gradient(top,$main,$second)
  background-image: -o-linear-gradient(top,$main,$second)
  background-image: linear-gradient(top,$main,$second)
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3)
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3)
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3)
  border: none


h1, nav.main
  display: inline-block

nav.main
  a.btn
    margin: 45px 28px 0 0
    display: inline-block
  a
    color: $main
    font-family: $fsecondary
    font-size: 18px
    margin: 0 0 0 10px
  position: relative

nav.right
  margin: 50px 28px 0 0
  input
    border: none

// register

#register
  margin: 15px 8px 0 0
  text-align: center
  a:link
    text-decoration: underline

nav.inpage
  margin: 40px 2.4%
  display: inline-block
  .btn
    margin: 0 0 0 15px

nav.alone
  margin: 40px 0 0 2.4%
  display: inline-block

header
  margin: 0
  padding: 0 0 30px 0
  background: $white
  .logo
    a:link, a:visited
      color: #000
      font-size: 64px
      font-family: $webfont
    margin: 45px 12px 0 2.4%
  input[type='submit']
    margin: 0


.validations
  margin: 0 0 0 2.4%
  p
    color: #F00
    margin: 4px 0 0 0

.post, .forum, .user
  margin: 0 0 10px 0

.user
  background: $main
  width: 20%
  height: auto
  padding: 0px 0 15px 0
  margin: 30px 0 0 2.4%
  display: inline-block
  img
    margin: 7% 0 0 7%
    width: 80%
  .name
    a
      color: #fff
    margin: 30px 0 0 7%
    font-family: $webfont
    font-size: 22px
  .role
    margin: 0 0 0 7%
    color: #000
    font-size: 18px
label
  font-size: 0.85em
  margin: 0 0 4px
  display: block

input, textarea
  font-size: 1.1em
  display: block
  margin: 0 0 15px
  padding: 2px 5px
  width: 30%

textarea
  height: 400px
.new_form
  .submit
    width: 30%
    clear: right
  #help_link
    margin: 15px 0 15px
    display: inline-block
    font-size: 21px

.post_form
  width: 70%

.content
  h1
    color: $main
    font-size: 18px
  .title_form
    margin: 65px 0 0 2.5%
    color: #000
    font-size: 42px
  background: $white
  margin: 20px  0 0 0
  padding: 0 0 100px 0

.new_form,
  margin: 27px 0 0 24px
  label
    font-family: $fsecondary
    font-size: 18px
  input, .sign
    width: auto

.right
  float: right
  .user_name
    margin: 0 12px 0 0
    position: relative
    a
      font-family: $fsecondary
      font-size: 18px
      text-decoration: underline
  form, .user_name
    display: inline-block

#container
  width: 80%
  margin: 0px auto

$forum_height: 120px

// forum

.forum
  margin: 0 2.4% 38px 2.4%
  border: 3px $main solid
  .forum_icon, .info, .name
    display: inline-block
    height: $forum_height
  .forum_icon
    float: left
    border-right: 3px solid $main
    width: 100px
    img
      margin: 25%
      width: 50px
  h1, .info, .last_post a
    font-size: 18px
  .name
    float: left
    margin: 0 0 0 0
  h1
    display: block
    margin: 0
    padding: 30px 0 0 20px
    a
      font-family: $webfont
      font-size: 24px
  .post_count
    margin: 0 0 0 20px
    font-size: 14px
    font-family: $fsecondary
  .visitors_count
    margin: 0 0 0 20px
    font-size: 14px
    font-family: $fsecondary
  .info
    margin: 0 0 0 20%
    border-left: 3px solid #01adef
    width: 45%
    float: left
    padding: 30px 0 0 18px
    color: #000
    font-family: $fsecondary
    @media screen and (max-width: 1050px)
      margin: 0 0 0 10%
      width: 44%
    @media screen and (max-width: 800px)
      border-top: 3px solid #01adef
      clear: both
      width: 100%
      border-left: none
      margin: 0
      padding: 15px 15px 0 15px
    .last_post
      width: 50%
      a
        color: $main
        font-family: $fsecondary

.updated_at
  margin: 3px 0 0 0
  font-size: 13px
  display: inline-block
  font-family: $webfont

.clear
  clear: both

// single post

.post
  background-image: -webkit-gradient(linear,left top,left bottom,from($main),to($second))
  background-image: -webkit-linear-gradient(top,$main,$second)
  background-image: -moz-linear-gradient(top,$main,$second)
  background-image: -ms-linear-gradient(top,$main,$second)
  background-image: -o-linear-gradient(top,$main,$second)
  background-image: linear-gradient(top,$main,$second)
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3)
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3)
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3)
  border: 2px solid #fff
  width: 94%
  display: inline-block
  padding: 10px
  margin: 15px 0 0 2.4%
  height: auto
  a
    color: #fff
  h2 a
    font-size: 26px
    margin: 0
    color: #fff
  span a:link, span a:visited
    color: #fff
  a:hover
    text-decoration: underline
  .by
    font-size: 1.2em
    font-family: $fsecondary
    display: inline-block
    margin: -2px 0 0 0
  .updated_at
    margin: 0
    font-family: $fsecondary
    font-size: 14px

// .post.full

.firefox .post.full h1
  width: 77%

.post.full
  padding: 0 0 20px 0
  border: 5px solid $main
  margin: 30px 0 0 2.4%
  h1
    width: 100%
    color: #fff
    font-size: 1.25em
    background: #01adef
    font-family: $fsecondary
    @media screen and (min-width: 1600px)
      padding: 5px 15px 5px 200px
      padding: 5px 15px 5px 23%
    @media screen and (max-width: 1600px)
      padding: 5px 15px 5px 23%
    @media screen and (max-width: 960px)
      padding: 5px 15px 5px 5%
  p
    width: 70%
    color: #000
    margin: 33px 0 0 15px
    font-family: Helvetica
    float: left
    width: 65%
  .updated_at
    margin: 10px 30px 0 0
    float: right
    font-size: 17px
  .reply
    width: 71.7%
    font-family: $fsecondary
    font-size: 18px
    cursor: pointer
    border: none
    border-radius: 3px
    padding: 11px 26px
  .btn
    margin: 10px 30px 0 0
  width: 94%
  background: #fff
  border: 2px solid $main
  .forum_name
    margin: 0 0 4px 0
  .by
    float: left
    text-align: center
    margin: 1% 1.1% 0 0
    img
      display: block
      width: 155px
      border: 2px solid $main
      margin: 10px 0 0 18px
    a:link, a:visited
      margin: 0 0 0 15px
      font-family: $webfont
      color: $main
  .edit
    clear: right

.reply
  margin: 20px 0 0 1.1%
  display: none
  label
    margin: 0 0 5px 1.3%
    color: #000
    font-size: 42px

.reply
  input[type='submit']
    display: inline-block
    width: auto
    margin: 15px 0 0 63%

.reply_btn btn
  margin: 15px 0 0 2.4%
  display: inline-block
.post_last
  .post
    margin: 0

.text
  color: #fff

// .help



.help
  h2
    margin: 40px 0 6px 2.4%
    color: $main
  p
    margin: 0 0 0 2.4%
    font-family: $fsecondary

.role
  margin: 0 0 0 2.5%
  color: #01adef
  font-size: 26px

.icon
  margin: 0 0 0 2.4%

ul.icons li
  display: inline-block
  width: 16%
  min-width: 150px
  margin: 5px 0 0
  img
    margin: 0 1% 0 0
    position: relative
    top: 7px

.markdown_help
  margin: 10px 0 0 2.4%
  width: 62.3%
  li div
    font-size: 0.85em
    width: 220px
    display: inline-block
    padding: 5px
    border-bottom: 1px dashed #999
    background: #EEE
  li:last-child div
    border: 0
  .md
    background: $white
  h1
    font-size: 1em
    margin: 0
    padding: 0

.form_info
  margin: 0 0 10px 0

.avatar
  img
    border: 3px solid $main

.avatars
  margin: 0 0 20px 0
  display: none
  img
    width: 80px
    cursor: pointer

.flashes
  div
    display: inline-block
    margin: 0 0 10px 0
    padding: 4px 2% 6px
    background: rgba(200, 200, 200, 0.5)
  .alert
    background:       #000
    color:            #F00
  .notice
    background:       rgba(200, 255, 200, 0.5)
    color:            rgba(30,  120,  30, 1)

#text
  border: 2px $main solid
  margin: 0
  width: 90%
  padding: 5px

#title
  width: 90%

#my_user
  h1
    margin: 65px 0 0 2.5%
    color: black
    font-size: 42px
  img
    margin: 20px 0 0 2.5%
    width: 220px
    height: auto
  .role
    margin: 15px 0 0 2.5%
.signature
  margin: 10px 0 0 0
  padding: 10px 3.6% 10px 3.6%
  font-size: 1.3em

textarea
  border: 2px solid $main

#login_btn
  display: inline-block
  margin: 15px 0 0 2.4%

#reply_btn
  display: inline-block
  margin: 15px 0 0 2.4%

#diablo_id, #avatar, #signature
  width: 70%