%h1
  - if route_is_new?
    - action = "/forums"
    New Forum
  - else
    Edit: #{@forum.name}
    - action = "/forums/#{@forum.id}"
    
%nav.inpage
  - link_to "back", "/forums/#{@forum.id}", class: "btn"

- validations_for @forum

%form{ action: action, method: "post" }
  - unless route_is_new?
    - form_method :put
  - input @forum, :name
  - input @forum, :description
  - submit "Save"