.post_form
  %h1
    - if route_is_new?(nested: true)
      - action = "/forums/#{@forum.id}/posts"
      New post
    - else
      Edit: #{@post.title}
      - action = "/posts/#{@post.id}"

  - validations_for @post

  %form{ action: action, method: "post" }
    - unless route_is_new?(nested: true)
      - form_method :put
    - input     @post, :title
    = textarea  @post, :text

    - submit "Save"