%h1
  = @forum.name

%nav.inpage
  - if logged_in?
    %a{ href: "/posts/new" } New post
  - else
    %a{ href: "/login" } Log in to post

.posts
  - @forum.posts.each do |post|
    = partial :post, post