%nav.inpage
  - if admin?
    %a.btn{ href: "/forums/new" } Create forum

.forums
  - unless @forums.nil?
    - # TODO: refactor forum nil?
    - @forums.each do |forum|
      = partial :forum, forum