%h1 Help

.help
  %h2 Syntax

  %p
    The text for the posts is formatted using
    - link_to "Markdown", "http://daringfireball.net/projects/markdown/syntax"
    , here's a little how to:

  %ul.markdown_help
    - markdown_helps

  %h2 Icons
  %ul.icons
    - Icon.all.each do |icon|
      %li
        - image_tag icon.path, class: "icon"
        \:#{icon.name}:
