%h1 Help

.help
  %h2 Markdown

  %p The text for the posts formatting is Markdown, here's a little how to:

  %ul.markdown_help
    - markdown_help 

    %li
      .name Italic
      .md   *word*
      .html *word*
    %li Headings
    %li Insert a link
    %li Insert a link




  %h2 Icons
  %ul.icons
    - Icon.all.each do |icon|
      %li
        - image_tag icon.path, class: "icon"
        \:#{icon.name}:
