%html
  %head
    %title= Sinforum
    %link{ rel: "stylesheet", href: "/css/main.css" }
    %script{ type: "text/javascript", src: "/js/vendor/zepto.js" }
    %script{ type: "text/javascript", src: "/js/main.js" }
  %body
    #container
      %header
        %nav.right
          - if logged_in?
            .user_name
              %a{ href: "/users/#{current_user.id}" }= current_user.username
            %form{ action: "/logout", method: "post" }
              %input{ type: "submit", value: "Logout" }
          - else
            %a.btn{ href: "/login" } Login
            or
            %a.btn{ href: "/register" } Register
        %h1
          - link_to "Sinforum", "/"
        %nav.main
          %a.btn{ href: "/forums" } Forums
          %a.btn{ href: "/users" } Users
      .flashes
        - flash.each do |type, message|
          %div{ class: type }= message

      %section.content= yield