%html
  %head
    %title= Sinforum
    %link{ rel: "stylesheet", href: "/css/main.css" }
  %body
    #container
      %header
        %h1
          - link_to "Sinforum", "/"
      %nav
      %section.content= yield