%h1 Register

%form{ method: "post" }
  %input{ type: "text", name: "username" }
  %input{ type: "text", name: "password" }
  %input{ type: "text", name: "password_confirmation" }
  %input{ type: "submit", value: "Register" }
