@font-face {
  font-family: "Rockwell";
  src: url("/fonts/Rockwell.otf") format("otf"), url("/fonts/Rockwell.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ChunkFiveRegular";
  src: url("/fonts/Chunkfive-webfont.eot");
  src: url("/fonts/Chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Chunkfive-webfont.woff") format("woff"), url("/fonts/Chunkfive-webfont.ttf") format("truetype"), url("/fonts/Chunkfive-webfont.svg#ChunkFiveRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  box-sizing: border-box;
  font-family: Rockwell;
  color: black; }

body {
  background: url("/images/bg-pattern.png"); }

a {
  text-decoration: none;
  color: #01adef; }

ul {
  list-style-type: none; }

a.btn, input[type='submit'] {
  font-family: Rockwell;
  font-size: 18px;
  cursor: pointer;
  background-color: #01adef;
  color: white;
  border: none;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 11px 26px; }

input[type='text'], input[type='password'] {
  border: 2px solid #01adef;
  padding: 10px; }

input[type='submit'] {
  display: inline-block;
  width: auto; }

.btn:hover, input[type='submit']:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#01adef), to(#0084b0));
  background-image: -webkit-linear-gradient(top, #01adef, #0084b0);
  background-image: -moz-linear-gradient(top, #01adef, #0084b0);
  background-image: -ms-linear-gradient(top, #01adef, #0084b0);
  background-image: -o-linear-gradient(top, #01adef, #0084b0);
  background-image: linear-gradient(top, #01adef, #0084b0);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: none; }

h1, nav.main {
  display: inline-block; }

nav.main {
  position: relative; }
  nav.main a.btn {
    margin: 45px 28px 0 0;
    display: inline-block; }
  nav.main a {
    color: #01adef;
    font-family: Rockwell;
    font-size: 18px;
    margin: 0 0 0 10px; }

nav.right {
  margin: 50px 28px 0 0; }
  nav.right input {
    border: none; }

#register {
  margin: 15px 8px 0 0;
  text-align: center; }
  #register a:link {
    text-decoration: underline; }

nav.inpage {
  margin: 40px 2.4%;
  display: inline-block; }
  nav.inpage .btn {
    margin: 0 0 0 15px; }

nav.alone {
  margin: 40px 0 0 2.4%;
  display: inline-block; }

header {
  margin: 0;
  padding: 0 0 30px 0;
  background: white; }
  header .logo {
    margin: 45px 12px 0 2.4%; }
    header .logo a:link, header .logo a:visited {
      color: black;
      font-size: 64px;
      font-family: "ChunkFiveRegular", Rockwell; }
  header input[type='submit'] {
    margin: 0; }

.validations {
  margin: 0 0 0 2.4%; }
  .validations p {
    color: red;
    margin: 4px 0 0 0; }

.post, .forum, .user {
  margin: 0 0 10px 0; }

.user {
  background: #01adef;
  width: 20%;
  height: auto;
  padding: 0px 0 15px 0;
  margin: 30px 0 0 2.4%;
  display: inline-block; }
  .user img {
    padding: 20px 0 0 0;
    margin: 0 0 0 10%;
    width: 80%; }
  .user .name {
    padding: 30px 10% 0 10%;
    font-family: "ChunkFiveRegular", Rockwell;
    font-size: 22px; }
    .user .name a {
      color: white; }
  .user .role {
    padding: 0 10% 0 8%;
    color: black;
    font-size: 18px; }

label {
  font-size: 0.85em;
  margin: 0 0 4px;
  display: block; }

input, textarea {
  font-size: 1.1em;
  display: block;
  margin: 0 0 15px;
  padding: 2px 5px; }

textarea {
  height: 400px;
  width: 80%; }

.new_form .submit {
  width: 30%;
  clear: right; }

#help_link {
  margin: 15px 0 15px 1.1%;
  display: inline-block;
  padding: 15px 0 15px 0;
  font-size: 21px;
  margin: 0 0 0 1.1%; }

.post_form {
  width: 70%; }

.content {
  background: white;
  margin: 20px 0 0 0;
  padding: 0 0 100px 0; }
  .content h1 {
    color: #01adef;
    font-size: 18px; }
  .content .title_form {
    margin: 65px 0 0 2.5%;
    color: black;
    font-size: 42px; }

.new_form {
  margin: 27px 0 0 24px; }
  .new_form label {
    font-family: Rockwell;
    font-size: 18px; }
  .new_form input, .new_form .sign {
    width: auto; }

.right {
  float: right; }
  .right .user_name {
    margin: 0 12px 0 0;
    position: relative; }
    .right .user_name a {
      font-family: Rockwell;
      font-size: 18px;
      text-decoration: underline; }
  .right form, .right .user_name {
    display: inline-block; }

#container {
  width: 75%;
  margin: 0px auto; }
  @media screen and (max-width: 1024px) {
    #container {
      width: 90%; } }
  @media screen and (max-width: 500px) {
    #container {
      width: 95%; } }

.forum {
  margin: 0 2.4% 38px 2.4%;
  border: 3px #01adef solid; }
  .forum .forum_icon, .forum .info, .forum .name {
    display: inline-block;
    height: 120px; }
  .forum .forum_icon {
    float: left;
    border-right: 3px solid #01adef;
    width: 100px; }
    .forum .forum_icon img {
      margin: 25%;
      width: 50px; }
  .forum h1, .forum .info, .forum .last_post a {
    font-size: 18px; }
  .forum .name {
    float: left;
    margin: 0 0 0 0; }
  .forum h1 {
    display: block;
    margin: 0;
    padding: 30px 0 0 20px; }
    .forum h1 a {
      font-family: "ChunkFiveRegular", Rockwell;
      font-size: 24px; }
  .forum .post_count {
    margin: 0 0 0 20px;
    font-size: 14px;
    font-family: Rockwell; }
  .forum .visitors_count {
    margin: 0 0 0 20px;
    font-size: 14px;
    font-family: Rockwell; }
  .forum .info {
    margin: 0 0 0 20%;
    border-left: 3px solid #01adef;
    width: 45%;
    float: left;
    padding: 30px 0 0 18px;
    color: black;
    font-family: Rockwell; }
    @media screen and (max-width: 1050px) {
      .forum .info {
        margin: 0 0 0 10%;
        width: 44%; } }
    @media screen and (max-width: 800px) {
      .forum .info {
        border-top: 3px solid #01adef;
        clear: both;
        width: 100%;
        border-left: none;
        margin: 0;
        padding: 15px 15px 0 15px; } }
    .forum .info .last_post {
      width: 50%; }
      .forum .info .last_post a {
        color: #01adef;
        font-family: Rockwell; }

.updated_at {
  margin: 3px 0 0 0;
  font-size: 13px;
  display: inline-block;
  font-family: "ChunkFiveRegular", Rockwell; }

.clear {
  clear: both; }

.post {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#01adef), to(#0084b0));
  background-image: -webkit-linear-gradient(top, #01adef, #0084b0);
  background-image: -moz-linear-gradient(top, #01adef, #0084b0);
  background-image: -ms-linear-gradient(top, #01adef, #0084b0);
  background-image: -o-linear-gradient(top, #01adef, #0084b0);
  background-image: linear-gradient(top, #01adef, #0084b0);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  width: 94%;
  display: inline-block;
  padding: 10px;
  margin: 15px 0 0 2.4%;
  height: auto; }
  .post a {
    color: white; }
  .post h2 a {
    font-size: 26px;
    margin: 0;
    color: white; }
  .post span a:link, .post span a:visited {
    color: white; }
  .post a:hover {
    text-decoration: underline; }
  .post .by {
    font-size: 1.2em;
    font-family: Rockwell;
    display: inline-block;
    margin: -2px 0 0 0; }
  .post .updated_at {
    margin: 0;
    font-family: Rockwell;
    font-size: 14px; }

.firefox .post.full h1 {
  width: 77%; }

.post.full {
  padding: 0 0 20px 0;
  border: 5px solid #01adef;
  margin: 30px 0 0 2.4%;
  width: 94%;
  background: white;
  border: 2px solid #01adef; }
  .post.full h1 {
    width: 100%;
    color: white;
    font-size: 1.25em;
    background: #01adef;
    font-family: Rockwell; }
    @media screen and (min-width: 1600px) {
      .post.full h1 {
        padding: 5px 15px 5px 200px;
        padding: 5px 15px 5px 23%; } }
    @media screen and (max-width: 1600px) {
      .post.full h1 {
        padding: 5px 15px 5px 23%; } }
    @media screen and (max-width: 960px) {
      .post.full h1 {
        padding: 5px 15px 5px 5%; } }
  .post.full p {
    width: 70%;
    color: black;
    margin: 33px 0 0 15px;
    font-family: Helvetica;
    float: left;
    width: 65%; }
  .post.full .updated_at {
    margin: 10px 30px 0 0;
    float: right;
    font-size: 17px; }
  .post.full .reply {
    width: 71.7%;
    font-family: Rockwell;
    font-size: 18px;
    cursor: pointer;
    border: none;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 11px 26px; }
  .post.full .btn {
    margin: 10px 30px 0 0; }
  .post.full .forum_name {
    margin: 0 0 4px 0; }
  .post.full .by {
    float: left;
    text-align: center;
    margin: 1% 1.1% 0 0; }
    .post.full .by img {
      display: block;
      width: 155px;
      border: 2px solid #01adef;
      margin: 10px 0 0 18px; }
    .post.full .by a:link, .post.full .by a:visited {
      margin: 0 0 0 15px;
      font-family: "ChunkFiveRegular", Rockwell;
      color: #01adef; }
  .post.full .edit {
    clear: right; }

.reply {
  padding: 20px 0 0 0;
  display: none; }
  .reply label {
    margin: 0 0 5px 0;
    color: black;
    font-size: 42px; }

.reply form {
  margin: 0 0 0 3.5%; }
  .reply form input[type='submit'] {
    display: inline-block;
    width: auto;
    margin: 15px 0 0 63%; }

.reply_btn {
  margin: 15px 0 0 2.4%;
  display: inline-block;
  font-family: Rockwell;
  font-size: 18px;
  cursor: pointer;
  background-color: #01adef;
  color: white;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 11px 26px; }

.reply_btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#01adef), to(#0084b0));
  background-image: -webkit-linear-gradient(top, #01adef, #0084b0);
  background-image: -moz-linear-gradient(top, #01adef, #0084b0);
  background-image: -ms-linear-gradient(top, #01adef, #0084b0);
  background-image: -o-linear-gradient(top, #01adef, #0084b0);
  background-image: linear-gradient(top, #01adef, #0084b0);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: none; }

.post_last .post {
  margin: 0; }

.text {
  color: white; }

.help h2 {
  margin: 40px 0 6px 2.4%;
  color: #01adef; }
.help p {
  margin: 0 0 0 2.4%;
  font-family: Rockwell; }

.role {
  margin: 0 0 0 2.5%;
  color: #01adef;
  font-size: 26px; }

.icon {
  margin: 0 0 0 2.4%; }

ul.icons li {
  display: inline-block;
  width: 16%;
  min-width: 150px;
  margin: 5px 0 0; }
  ul.icons li img {
    margin: 0 1% 0 0;
    position: relative;
    top: 7px; }

.markdown_help {
  margin: 10px 0 0 2.4%;
  width: 62.3%; }
  .markdown_help li div {
    font-size: 0.85em;
    width: 220px;
    display: inline-block;
    padding: 5px;
    border-bottom: 1px dashed #999999;
    background: #eeeeee; }
  .markdown_help li:last-child div {
    border: 0; }
  .markdown_help .md {
    background: white; }
  .markdown_help h1 {
    font-size: 1em;
    margin: 0;
    padding: 0; }

.form_info {
  margin: 0 0 10px 0; }

.avatar img {
  border: 3px solid #01adef; }

.avatars {
  margin: 0 0 20px 0;
  display: none; }
  .avatars img {
    width: 80px;
    cursor: pointer; }

.flashes div {
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 4px 2% 6px;
  background: rgba(200, 200, 200, 0.5); }
.flashes .alert {
  background: black;
  color: red; }
.flashes .notice {
  background: rgba(200, 255, 200, 0.5);
  color: #1e781e; }

.new_form input, .new_form textarea {
  width: 60%; }

.post_form input, .post_form textarea {
  width: 80%; }

#text {
  border: 2px #01adef solid;
  padding: 5px; }

#my_user {
  padding: 0 0 0 2.5%; }
  #my_user h1 {
    margin: 65px 0 0 0;
    color: black;
    font-size: 42px; }
  #my_user img {
    margin: 20px 0 0 0;
    width: 220px;
    height: auto; }
  #my_user .role {
    margin: 15px 0 0 0; }
  #my_user .title_form {
    margin: 0; }

.signature {
  margin: 10px 0 0 0;
  padding: 10px 3.6% 10px 3.6%;
  font-size: 1.3em; }

textarea {
  border: 2px solid #01adef; }

#login_btn {
  display: inline-block;
  margin: 15px 0 0 2.4%; }

/* .reply
 * display: inline-block
 * margin: 15px 0 0 2.4% */
/* */
#diablo_id, #avatar, #signature {
  width: 70%; }

.icon {
  width: 25px; }

ul.icons li {
  display: inline-block;
  width: 16%;
  min-width: 150px;
  margin: 5px 0 0 2.4%; }
  ul.icons li img {
    margin: 0 1% 0 0;
    position: relative;
    top: 7px; }
