@font-face {
  font-family: "ChunkFiveRegular";
  src: url("fonts/Chunkfive-webfont.eot");
  src: url("fonts/Chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Chunkfive-webfont.woff") format("woff"), url("fonts/Chunkfive-webfont.ttf") format("truetype"), url("fonts/Chunkfive-webfont.svg#ChunkFiveRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  box-sizing: border-box; }

body {
  background: url("bg-pattern.png") repeat;
  font-family: Rockwell;
  color: black; }

a {
  color: #01adef; }

a.btn, input[type='submit'] {
  font-family: Rockwell;
  font-size: 18px;
  cursor: pointer;
  background-color: #01adef;
  color: white;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 11px 26px; }

input[type='text'] {
  border: 2px solid #01adef; }

input[type='submit'] {
  margin: 10px 0 20px 0;
  float: right;
  display: inline-block;
  width: auto; }

.btn:hover, input[type='submit']:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#01adef), to(#0084b0));
  background-image: -webkit-linear-gradient(top, #01adef, #0084b0);
  background-image: -moz-linear-gradient(top, #01adef, #0084b0);
  background-image: -ms-linear-gradient(top, #01adef, #0084b0);
  background-image: -o-linear-gradient(top, #01adef, #0084b0);
  background-image: linear-gradient(top, #01adef, #0084b0);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: none; }

.role {
  margin: 0 0 0 2.5%;
  color: #01adef;
  font-size: 26px; }

h1, nav.main {
  display: inline-block; }

nav.main {
  position: relative; }
  nav.main a.btn {
    margin: 45px 28px 0 0;
    display: inline-block; }
  nav.main a {
    color: #01adef;
    font-family: Rockwell;
    font-size: 18px;
    margin: 0 5px 0 0; }

nav.right {
  margin: 50px 28px 0 0; }
  nav.right input {
    border: none; }

#register {
  margin: 15px 8px 0 0;
  text-align: center; }
  #register a:link {
    text-decoration: underline; }

nav.inpage {
  margin: 40px 2.4%;
  display: inline-block; }

nav.alone {
  margin: 40px 0 0 2.4%;
  display: inline-block; }

header {
  margin: 0;
  padding: 0 0 30px 0;
  background: white; }
  header h1 {
    font-size: 64px;
    font-family: "ChunkFiveRegular", Rockwell;
    margin: 45px 12px 0 2.4%; }
    header h1 a:link, header h1 a:visited {
      color: black; }
  header input[type='submit'] {
    margin: 0; }

.validations {
  margin: 0 0 0 2.4%; }
  .validations p {
    color: red;
    margin: 4px 0 0 0; }

.post, .forum, .user {
  margin: 0 0 10px 0; }

.user {
  background: #01adef;
  width: 20%;
  height: auto;
  padding: 0px 0 15px 0;
  margin: 30px 0 0 2.4%;
  display: inline-block; }
  .user img {
    margin: 7% 0 0 7%;
    width: 80%; }
  .user .name {
    margin: 30px 0 0 7%;
    font-family: "ChunkFiveRegular", Rockwell;
    font-size: 22px; }
    .user .name a {
      color: white; }
  .user .role {
    margin: 0 0 0 7%;
    color: black; }

label {
  font-size: 0.85em;
  margin: 0 0 4px;
  display: block; }

input, textarea {
  font-size: 1.1em;
  display: block;
  margin: 0 0 15px;
  padding: 2px 5px;
  width: 30%; }

textarea {
  height: 400px; }

.submit {
  width: 30%;
  clear: right; }

.post_form input, .post_form textarea, .post_form .submit, .reply input, .reply textarea, .reply .submit {
  width: 70%; }

.content {
  background: white;
  margin: 20px 0 0 0;
  padding: 0 0 100px 0; }
  .content h1 {
    color: #01adef;
    font-size: 18px; }
  .content .title_form {
    margin: 65px 0 0 2.5%;
    color: black;
    font-size: 42px; }

.new_form {
  margin: 27px 0 0 24px; }
  .new_form label {
    font-family: Rockwell;
    font-size: 18px; }
  .new_form input, .new_form .sign {
    width: auto; }

.right {
  float: right; }
  .right .user_name {
    margin: 0 12px 0 0;
    position: relative;
    top: -15px; }
    .right .user_name a {
      font-family: Rockwell;
      font-size: 18px;
      text-decoration: underline; }
  .right form, .right .user_name {
    display: inline-block; }

#container {
  width: 80%;
  margin: 0px auto; }

.forum {
  margin: 0 2.4% 38px 2.4%;
  border: 3px #01adef solid; }
  .forum .forum_icon, .forum .info, .forum .name {
    display: inline-block;
    height: 120px; }
  .forum .forum_icon {
    float: left;
    border-right: 3px solid #01adef;
    width: 10%; }
    .forum .forum_icon img {
      margin: 25% 25%;
      width: 50%;
      height: auto; }
  .forum h1, .forum .info, .forum .last_post a {
    font-size: 18px; }
  .forum .name {
    float: left; }
  .forum h1 {
    display: block;
    width: 55%;
    margin: 0;
    padding: 18px 0 0 20px;
    font-family: "ChunkFiveRegular", Rockwell; }
  .forum .post_count {
    margin: 0 0 0 20px;
    font-size: 14px;
    font-family: Rockwell; }
  .forum .visitors_count {
    margin: 0 0 0 20px;
    font-size: 14px;
    font-family: Rockwell; }
  .forum .info {
    width: 35%;
    margin: 0;
    border-left: 3px #01adef solid;
    padding: 18px 35px 0 18px;
    color: black;
    font-family: Rockwell;
    float: right; }
    .forum .info .last_post a {
      color: #01adef;
      font-family: Rockwell; }

.updated_at {
  margin: 3px 0 0 0;
  font-size: 13px;
  display: inline-block;
  font-family: "ChunkFiveRegular", Rockwell; }

.clear {
  clear: both; }

.post {
  background: #01adef;
  width: 94%;
  display: inline-block;
  padding: 20px 0 20px 20px;
  margin: 30px 0 0 2.4%;
  height: auto; }
  .post h1 {
    font-size: 1.7em; }
  .post h2 a {
    font-size: 40px;
    margin: 0;
    color: white; }
  .post span a {
    color: white;
    text-decoration: underline; }
  .post .by {
    font-family: Rockwell;
    display: inline-block;
    margin: 5px 0 0 0; }
  .post .updated_at {
    margin: 0;
    font-family: Rockwell;
    font-size: 14px; }

.post.full {
  padding: 0 0 20px 0;
  border: 5px solid #01adef;
  width: 94%;
  background: white;
  border: 2px solid #01adef; }
  .post.full h1 {
    width: 100%;
    color: white;
    font-size: 1.25em;
    background: #01adef;
    font-family: "ChunkFiveRegular";
    padding: 10px 0 5px 23%; }
  .post.full p {
    width: 70%;
    color: black;
    margin: 33px 0 0 15px;
    font-family: Helvetica;
    float: left;
    width: 65%; }
  .post.full .updated_at {
    margin: 10px 30px 0 0;
    float: right; }
  .post.full .reply_btn {
    margin: 10px 0 0 2.4%; }
  .post.full .btn {
    margin: 10px 30px 0 0; }
  .post.full .forum_name {
    margin: 0 0 4px 0; }
  .post.full .by {
    float: left;
    text-align: center;
    margin: 1% 1.1% 0 0; }
    .post.full .by img {
      display: block;
      width: 155px;
      border: 2px solid #01adef;
      margin: 10px 0 0 18px; }
    .post.full .by a:link, .post.full .by a:visited {
      margin: 0 0 0 15px;
      font-family: "ChunkFiveRegular", Rockwell;
      color: #01adef; }
  .post.full .edit {
    clear: right; }

.post_last .post {
  margin: 0; }

.text {
  color: white; }

.reply {
  display: none;
  padding: 5px 1.5% 10px; }

.help h2 {
  margin: 40px 0 6px 2.4%;
  color: #01adef; }
.help p {
  margin: 0 0 0 2.4%;
  font-family: Rockwell; }

.icon {
  margin: 0 0 0 2.4%; }

ul.icons li {
  display: inline-block;
  width: 16%;
  min-width: 150px;
  margin: 5px 0 0; }
  ul.icons li img {
    margin: 0 1% 0 0;
    position: relative;
    top: 7px; }

.markdown_help {
  margin: 10px 0 0 2.4%;
  width: 62.3%; }
  .markdown_help li div {
    font-size: 0.85em;
    width: 220px;
    display: inline-block;
    padding: 5px;
    border-bottom: 1px dashed #999999;
    background: #eeeeee; }
  .markdown_help li:last-child div {
    border: 0; }
  .markdown_help .md {
    background: white; }
  .markdown_help h1 {
    font-size: 1em;
    margin: 0;
    padding: 0; }

.form_info {
  margin: 0 0 10px 0; }

.avatar img {
  border: 3px solid #01adef; }

.avatars {
  margin: 0 0 20px 0;
  display: none; }
  .avatars img {
    width: 80px;
    cursor: pointer; }

.flashes div {
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 4px 2% 6px;
  background: rgba(200, 200, 200, 0.5); }
.flashes .alert {
  background: black;
  color: red; }
.flashes .notice {
  background: rgba(200, 255, 200, 0.5);
  color: #1e781e; }

#text {
  border: 2px #01adef solid; }

#my_user h1 {
  margin: 65px 0 0 2.5%;
  color: black;
  font-size: 42px; }
#my_user img {
  margin: 20px 0 0 2.5%;
  width: 20%;
  height: auto; }

.signature {
  margin: 20px 0 0 2.5%;
  padding: 10px 3.6% 10px 3.6%;
  font-size: 1.3em;
  background: #01adef;
  width: 25%;
  color: white; }

textarea {
  border: 2px solid #01adef; }
