a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #d9d9d9;
  font-family: Georgia, Verdana, Arial;
  color: #111111; }

a {
  color: #dd0000; }

a:hover {
  color: #ff1111; }

a.btn {
  border-radius: 8px;
  background: #dd0000;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  padding: 3px 10px;
  border: 1px solid #888888;
  border-left: 1px solid #999999;
  border-right: 1px solid #aaaaaa;
  border-top: 1px solid #cccccc;
  box-shadow: 1px 1px 3px #999999; }

a.btn:hover {
  background: white;
  color: #dd0000;
  border: 1px solid #cccccc;
  border-top: 1px solid #888888;
  box-shadow: 0px 0px 4px white; }

h1, nav.main {
  display: inline-block; }

nav.main {
  margin: 0 0 20px 1%;
  position: relative;
  top: -4px; }

nav.right {
  margin: 12px 0 0; }

nav.inpage {
  margin: 0 0 15px;
  display: inline-block;
  margin: 0 0 0 10px;
  position: relative;
  top: -3px; }

nav.alone {
  margin: 0 0 15px; }

header h1 {
  font-size: 2.2em;
  text-shadow: 1px 1px 1px white, 1px 1px 4px #222222; }

h1 {
  margin: 0 0 10px 0; }

.post, .forum, .user {
  margin: 0 0 10px 0;
  background: white;
  background: linear-gradient(top, white, #dddddd);
  background: -o-linear-gradient(top, white, #dddddd);
  background: -moz-linear-gradient(top, white, #dddddd);
  background: -webkit-linear-gradient(top, white, #dddddd);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1, white), color-stop(0, #dddddd));
  background: -ms-linear-gradient(top, white, #dddddd);
  padding: 5px 1.5% 10px;
  border-radius: 12px;
  border: 1px solid #888888;
  border-left: 1px solid #999999;
  border-right: 1px solid #aaaaaa;
  border-top: 1px solid #cccccc;
  box-shadow: 1px 1px 3px #999999; }

.posts .post, .forums .forum, .users .user {
  cursor: pointer; }
  .posts .post:hover, .forums .forum:hover, .users .user:hover {
    background: #bbbbbb;
    background: linear-gradient(top, #bbbbbb, #eeeeee);
    background: -o-linear-gradient(top, #bbbbbb, #eeeeee);
    background: -moz-linear-gradient(top, #bbbbbb, #eeeeee);
    background: -webkit-linear-gradient(top, #bbbbbb, #eeeeee);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, #bbbbbb), color-stop(0, #eeeeee));
    background: -ms-linear-gradient(top, #bbbbbb, #eeeeee);
    border: 1px solid #cccccc;
    border-top: 1px solid #888888;
    box-shadow: 0px 0px 4px white; }

.user a {
  font-weight: bold; }

label {
  font-size: 0.85em;
  font-weight: bold;
  margin: 0 0 4px;
  display: block; }

input, textarea {
  font-size: 1.1em;
  display: block;
  margin: 0 0 15px;
  padding: 2px 5px;
  width: 30%; }

textarea {
  height: 400px; }

.submit {
  width: 30%;
  clear: right; }

.post_form input, .post_form textarea, .post_form .submit {
  width: 70%; }

input[type='submit'] {
  margin: 10px 0 0 0;
  font-size: 1.2em;
  width: auto;
  float: right;
  display: inline-block; }

.right {
  float: right; }
  .right .user_name {
    margin: 0 10px 0 0;
    position: relative;
    top: -4px; }
  .right form, .right .user_name {
    display: inline-block; }

#container {
  width: 92%;
  margin: 20px auto; }

.forum .info {
  font-size: 0.9em; }
  .forum .info .updated_at {
    font-weight: bold;
    font-size: 0.9em; }

.post .forum_name {
  margin: 0 0 10px 0; }
